
<div class="first-view">
  <div class="first-view-text">
    <h1>Smoke Date</h1>
    <p>パートナーと共に禁煙を目指しましょう</p>
  </div>
</div>
<div class="lead">
  <p>普段周りの人に「タバコやめたら？」と言われて、やめようかなと思いながらズルズル続けてしまってはいませんか？<br /> やめようかなと思うけど一歩が出ないそんな人に向けたサービスです</p>
</div>

<div class="container container-m">
  <div class="row">
    <div class="col-md-4">
      <img src="images/c.jpg" alt="img" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h1>目的</h1>
      <p>
        吸った本数をグラフや計算しデータにすることで減煙 → 禁煙と段階的にできるようサポートすサービスです。<br />
        グラフや数値を見ることで目で見て成果を実感することができると思います。<br />
        通知機能を使うことで1人ではなくパートナーと一緒に減煙・禁煙に取り組みましょう。
      </p>
    </div>
  </div>
</div>
<div class="container container-m">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/calculator.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">計算</h5>
                    <p class="card-text">金額や本数を計算して表示します</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/graph.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">グラフ</h5>
                    <p class="card-text">グラフ表示させる事で分かやすく、頑張りを実感できると思います</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/send.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">通知</h5>
                    <p class="card-text">LINEでログインしてもらう事で忘れていた時の通知などを行います</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>