.container-m {
	margin-top: 80px;
}

.footer {
	background-color: #92bbe5;
  text-align: center;
  padding: 1rem;
	margin-top: 20px;
	
}

.first-view {
	height: 100vh;
	background-image: url(../assets/bg-main.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
}

.first-view-text {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: white ;
	font-weight: bold;
	text-shadow: 1px 1px 10px white;
}

.first-view-text h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	line-height: 72px;
}

.first-view-text p {
	font-size: 18px;
	margin-top: 20px;
}

.lead {
	max-width: 1200px;
	margin: 60px auto;
}

.lead p {
	line-height: 2;
	text-align: center;
}
