@import "bootstrap";
@import "font-awesome";
@import "top";
@import "app_card";
@import "base";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	background-color: rgb(232, 241, 226);
}

body.modal-open {
  overflow: hidden;
}