<footer class="footer">
	<div class="fixed-bottom">
		<div class="md-flex md-justify-between">
			<ul class="footer__navi flex">
				<li><a href="#">利用規約</a></li>
				<li><a href="#">プライバシーポリシー</a></li>
			</ul>
		</div>
		<hr />
		<p class="copyright">
			© 2023 <a href="#">禁煙アプリ</a>
		</p>
	</div>
</footer>